include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include bank_api_integration *.css
recursive-include bank_api_integration *.csv
recursive-include bank_api_integration *.html
recursive-include bank_api_integration *.ico
recursive-include bank_api_integration *.js
recursive-include bank_api_integration *.json
recursive-include bank_api_integration *.md
recursive-include bank_api_integration *.png
recursive-include bank_api_integration *.py
recursive-include bank_api_integration *.svg
recursive-include bank_api_integration *.txt
recursive-exclude bank_api_integration *.pyc